<div class="m-b-3">
  <h5 class="m-b-1">Request</h4>

  <% if endpoint.request.headers.present? %>
    <div class="card">
      <div class="card-header">Headers</div>
      <pre class="code hljs json"><%= JSON.pretty_generate(endpoint.request.headers) %></pre>
    </div>
  <% end %>

  <% if endpoint.request.params %>
    <div class="card">
      <div class="card-header">Parameters</div>
      <table class="table m-b-0">
        <% endpoint.request.params.each do |param| %>
          <tr>
            <td>
              <%= param.name %>
            </td>
            <td>
              <i class="text-muted">
                <%= param.type %>
              </i>
            </td>
            <td>
              <% if param.required %>
                <i class="fa fa-check-square-o" title="Required"></i>
              <% else %>
                <i class="fa fa-square-o" title="Optional"></i>
              <% end %>
            </td>
            <td>
              <%= param.description %>
              <% if param.example %>
                <span class="text-muted">
                  (example: <strong><%= param.example %></strong>)
                </span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
