<%= render partial: "header" %>

<main>
  <div class="container">
    <div class="row">
      <div class="sidebar">
        <%= render partial: "sidebar" %>
      </div>

      <div class="main-col">
        <% @documentation.sections.each do |section| %>
          <div class="section">
            <h2 id="<%= section.title %>"><%= section.title %></h2>
            <% if section.data.description %>
              <div class="description">
                <%= section.data.description %>
              </div>
            <% end %>
            <% section.endpoints.each do |endpoint| %>
              <div class="endpoint" id="<%= endpoint.id %>">
                <h3><%= render "method", endpoint: endpoint %></h3>

                <% if endpoint.data.description %>
                  <div class="description">
                    <%= endpoint.data.description %>
                  </div>
                <% end %>

                <% if endpoint.request || endpoint.response %>
                  <% if endpoint.request %>
                    <%= render "request", endpoint: endpoint %>
                  <% end %>

                  <% if endpoint.response %>
                    <%= render "response", response: endpoint.response %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>

<%= render partial: "footer" %>
