<% @documentation.sections.each do |section| %>
  <div class="m-b-3">
    <h2 class="m-b-2" id="<%= section.title %>"><%= section.title %></h2>
    <% if section.description %>
      <div class="text-muted">
        <%= section.description %>
      </div>
    <% end %>
    <% section.endpoints.each do |endpoint| %>
      <div class="m-b-2 p-t-1" id="<%= endpoint.id %>">
        <%= render 'endpoint', endpoint: endpoint %>
      </div>
    <% end %>
  </div>
<% end %>
