<div class="container">
  <div class="row">
    <div class="endpoint" id="<%= @endpoint.id %>">
      <h5 class="m-b-1">
        <%= render "method", endpoint: @endpoint %>
      </h5>

      <% if @endpoint.data.description %>
        <div class="text-muted m-b-2">
          <%= @endpoint.data.description %>
        </div>
      <% end %>

      <% if @endpoint.request %>
        <% if @endpoint.request.data.headers %>
          <div class="card">
            <div class="card-header">Headers</div>
            <pre class="code hljs json"><%= JSON.pretty_generate(@endpoint.request.data.headers) %></pre>
          </div>
        <% end %>

        <div class="m-t-3">
          <%= form_tag @endpoint.url, method: @endpoint.method, target: '_blank' do %>
            <% @endpoint.request.data.params.each do |param| %>
              <div class="form-group">
                <label><%= param.name.to_s.titleize %></label>
                <%= text_field_tag param.name, param.example, class: 'form-control' %>
              </div>
            <% end %>

            <div class="form-group">
              <%= submit_tag 'Submit', name: nil, class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
