<li class="attribute">
<div class="attribute-info">
  <div class="attribute-name">
    <%= attribute.name %>
  </div>
  
  <% if attribute.description %>
    <div class="attribute-description"><%= attribute.description %></div>
  <% end %>

  <div class="attribute-type">
    <% if attribute.is_subtype? %>
      <%= link_to anchor: "subtype-#{attribute.type}" do %>
        <%= attribute.type %>
      <% end %>
    <% else %>
      <%= attribute.type %>
    <% end %> 
  </div>
</div>
  <% if attribute.is_enum? %>
    <ul class="attribute-enum-list">
      <% attribute.choices.each do |choice| %>
        <li class="attribute-enum-choice">
          <div class="choice-name"><%= choice.name %></div>
          <div class="choice-description"><%= choice.description %></div>
        </li>
      <% end %>
    </ul>
  <% end %>
<% if attribute.is_object? %>
    <ul class="attributes-list">
      <%= render partial: "attribute",
      collection: attribute.attributes,
      as: :attribute %>
    </ul>
  <% end %>
</li>
