<li class="attribute-container">
  <div class="attribute">
    <div class="attribute-name name">
      <%= attribute.name %>
    </div>

    <div class="attribute-type type">
      <% if attribute.is_subtype? %>
        <%= link_to anchor: "subtype-#{attribute.type}" do %>
          <%= attribute.type %>
        <% end %>
      <% else %>
        <%= attribute.type %>
      <% end %>
    </div>

    <% if attribute.description %>
      <div class="attribute-description"><%= attribute.description %></div>
    <% end %>
  </div>
  
  <% if attribute.is_enum? %>
    <ul class="attribute-enum-list">
      <div class="title">Possible values</div>
      <% attribute.choices.each do |choice| %>
        <li class="attribute-enum-member">
          <div class="attribute-enum-member-name"><%= choice.name %></div>
          <div class="attribute-enum-member-description"><%= choice.description %></div>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if attribute.is_object? %>
    <ul class="attribute-object-list">
      <div class="title">Child attributes</div>
      <%= render partial: "attribute",
      collection: attribute.attributes,
      as: :attribute %>
    </ul>
  <% end %>
</li>
