<div class="request">
  <h4>Request&#58;</h4>

  <% if endpoint.request.data.headers %>
    <div class="panel">
      <div class="title">Headers</div>
      <pre class="code"><%= JSON.pretty_generate(endpoint.request.data.headers) %></pre>
    </div>
  <% end %>

  <% if endpoint.request.data.params %>
    <div class="panel">
      <div class="title">Parameters</div>
      <table class="table">
        <% endpoint.request.data.params.each do |param| %>
          <tr class="parameter">
            <td class="name">
              <%= param.name %>
            </td>
            <td class="type">
              <%= param.type %>
            </td>
            <td class="required">
              <% if param.required %>
                <i class="fa fa-check-square-o" title="Required"></i>
              <% else %>
                <i class="fa fa-square-o" title="Optional"></i>
              <% end %>
            </td>
            <td class="description">
              <%= param.description %>
              <% if param.example %>
                <span class="example">
                  (example: <strong><%= param.example %></strong>)
                </span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
