<%= render partial: "header" %>

<main>
  <div class="container">
    <div class="row">
      <div class="sidebar">
        <%= render partial: "sidebar" %>
      </div>

      <div class="main-col">
        <% @documentation.sections.each do |section| %>
          <div class="section">
            <h2 id="<%= section.title %>"><%= section.title %></h2>
            <% section.endpoints.each do |endpoint| %>
              <div class="endpoint" id="<%= endpoint.id %>">
                <h3><%= render "method", endpoint: endpoint %></h3>

                <% if endpoint.description %>
                  <div class="description">
                    <%= endpoint.description %>
                  </div>
                <% end %>

                <% if endpoint.request || endpoint.response %>
                  <% if endpoint.request %>
                    <%= render "request", endpoint: endpoint %>
                  <% end %>

                  <% if endpoint.response %>
                    <%= render "response", response: endpoint.response %> 
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
        <div id="defined_subtypes">
          <% @documentation.subtypes.each do |name, type| %>
            <div id="subtype-<%= name %>">
              <h4><%= name %></h4>
              <div class="panel">
                <div class="title">Attributes</div>
                <div class="table">
                  <div class="attributes">
                    <%= render partial: "attribute", 
                    collection: type.attributes, 
                    as: :attribute %>
                  </div>
                </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>

<%= render partial: "footer" %>
