= render 'header', documentation: @documentation
%main
  .container
    .row
      .col-3
        = render 'sidebar', sections: @documentation.sections
      .col-9
        - @documentation.sections.each do |section|
          .section
            %h2= section.title
            - section.endpoints.each do |endpoint|
              .endpoint{ :id => endpoint.id }
                %h3
                  = render 'method', method: endpoint.method
                  = endpoint.url
                - if endpoint.description
                  .description= endpoint.description
                - if endpoint.request
                  = render 'request', request: endpoint.request
                - if endpoint.response
                  = render 'response', response: endpoint.response
= render 'footer'
