%h1
  = @documentation.title
- @documentation.sections.each do |section|
  .section
    %h2
      = section.title
    - section.endpoints.each do |endpoint|
      .endpoint
        %h3
          %span.method{ :class => endpoint.method }<
            = endpoint.method
          = endpoint.url
          - if endpoint.description
            %span.description
              &mdash;
              = endpoint.description
        - if endpoint.response
          .response
            %h4
              Response:
              = endpoint.response.status
            - if endpoint.response.headers
              %pre
                = endpoint.response.headers
